P{color:000000; font-size:12px; font-family:sans-serif; background-color:ffffff; font-weight:normal; text-decoration:none; }
A{color:005826; background-color:ffffff; font-family:sans-serif; font-size:12px; font-weight:bold; text-decoration:none; }
A:Visited{color:005826; background-color:ffffff; font-family:sans-serif; font-size:12px; font-weight:bold; text-decoration:none; }
A:Hover{color:005826; background-color:ffffff; font-family:sans-serif; font-size:12px; font-weight:bold; text-decoration:underline; }
